<ion-view view-title="{{ viewTitle }}">
    <ion-content>

    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search  ">
        </label>
    </div>


    <ion-list can-swipe=true>

      <ion-item class="item-thumbnail-left">
        <img src="img/black-coffee.png" height="5px" width="5x">
            <h2>Black Coffee</h2>
            <p>Hot black coffee, no ice</p>
            <span class="badge badge-positive">$5</span>
            <ion-option-button class="button-positive">
                Edit
            </ion-option-button>
            <ion-option-button class="button-assertive">
                Delete
            </ion-option-button>
      </ion-item>

    </ion-list>

    </ion-content>
</ion-view>