<ion-view view-title="Profile">
    <ion-content>

        <div class="row responsive-sm" style="background-image: url('img/profile_bg.jpg');background-size: cover;height:200px;display: table;">
            <div style="display: table-cell; vertical-align: middle; text-align: center; color: white; font-size: 20px; font-weight: bolder; text-shadow: 2px 2px black">
                <div style="border-radius: 100%; width: 100px; height:100px;margin: 0 auto;background-color: white">
                    <img src="img/ionic.png" width="100px" height="100px">
                </div>
                <p>Long Le</p>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                <i class="icon ion-ios-information"></i>
                Personal Information
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" value="Long">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" value="Le">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" value="lehuu.hoanlong@gmail.com">
            </label>
        </div>

    </ion-content>
</ion-view>